<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row class= "ion-padding-start"> 
      <ion-icon name="musical-notes-outline"></ion-icon>
      <div>
        <ion-title>MusicApp</ion-title>
      </div>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-title class = "ion-text-center">Mis canciones</ion-title>
  <ion-list>
    <ion-item *ngFor="let track of tracks">
      <ion-avatar slot="start">
        <img src="{{track.imagen}}" alt="">
      </ion-avatar>
      <ion-row class= "ion-justify-content-end">
        <ion-button (click)="modify(track.id)">
          <ion-icon name="pencil-sharp"></ion-icon>
        </ion-button>
    
        <ion-button (click)="delete(track.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-row>
      <ion-card-header>
        
        <ion-card-title>
          {{track.titulo}}
        </ion-card-title>
        <ion-card-subtitle>
          {{track.albumTitulo}}
        </ion-card-subtitle>
      </ion-card-header>
      
    </ion-item>
  </ion-list>
</ion-content>
