<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row class= "ion-padding-start"> 
      <ion-icon name="musical-notes-outline"></ion-icon>
      <div>
        <ion-title>MusicApp</ion-title>
      </div>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-title class = "ion-text-center" mode="md">Mis artistas</ion-title>
  <br>
  <ion-list>
    <ion-item *ngFor="let artista of artistas" (click)="snapURL()" [routerLink]="['../artist/' + artista.id]">
      <ion-avatar slot="start">
        <img src="{{artista.imagen}}" alt="">
      </ion-avatar>
      <ion-label>{{artista.nombre}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="snapURL()" [routerLink]="['../add-artist']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
