<ion-header>
  <ion-toolbar>
    <ion-title>add-review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-header>
    <ion-card-title class = "ion-text-center">Agregar reseña</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="formularioAlbum" >
      <ion-item>
        <ion-label position="floating">Texto</ion-label>
        <ion-textarea formControlName="texto"></ion-textarea>
      </ion-item>
        <!-- <ion-input formControlName="texto"></ion-input> -->
      <br>
      <ion-button expand="block" (click)="agregar()">Agregar</ion-button>
      <br>
      <ion-button expand="block" (click)="cancelar()">Cancelar</ion-button>
      <br>
    </form>
    
  </ion-card-content>
</ion-card>
</ion-content>


<ion-footer>
<ion-toolbar color="primary">
</ion-toolbar>
</ion-footer>
