<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-back-button defaultHref = "../albums"></ion-back-button> -->
    </ion-buttons>
    <ion-row class= "ion-padding-start"> 
      <ion-icon name="musical-notes-outline"></ion-icon>
      <div>
        <ion-title>MusicApp</ion-title>
      </div>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-title></ion-title>
  <ion-card *ngFor="let track of tracks">
    <ion-card-header>
      <ion-card-title>
        {{track.titulo}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
