<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
      <!-- <ion-back-button defaultHref = "../albums"></ion-back-button> -->
    </ion-buttons>
    <ion-row>
      <ion-icon name="musical-notes-outline"></ion-icon>
      <div>
        <ion-title>MusicApp</ion-title>
      </div>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-card>
    <ion-row class= "ion-justify-content-end">
      <div *ngIf="favorite == 'ok'">
        <ion-button (click)="rem_fav()">
          <ion-icon name="heart"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="!(favorite == 'ok')">
        <ion-button (click)="add_fav()">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
      </div>
          
      <div *ngIf="userOwns >= 1">
          <ion-button>
            <ion-icon name="pencil-sharp"></ion-icon>
          </ion-button>
      </div>
    </ion-row>
    
    <img [src]="album.imagen">
    <ion-card-header>
      
      <ion-card-title>
        {{album.titulo}}
      </ion-card-title>
      <ion-card-subtitle>
        {{album.artistaNombre}}
      </ion-card-subtitle>
      <ion-card-subtitle>
        {{album.anio}}
      </ion-card-subtitle>
    </ion-card-header> 
  </ion-card>
  <div *ngIf="userOwns >= 1">
    <ion-row class= "ion-justify-content-center">
      <ion-button (click)="add_song()">
        Agregar canción
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </div>
  <ion-title></ion-title>
  <ion-card *ngFor="let track of tracks">
    <ion-card-header>
      <ion-card-title>
        {{track.titulo}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>